1、音频可视化
2、内存、程序大小占用优化

3、显示名字要改，取个好听的名字
4、缩小图标改
14、中英文适配
5、自定义添加图片+默认

6、配色自定义+默认
7、可视化变成波浪、类似海浪的风格
8、胶片纹理
9、中间文字改成英文格式的年月日小时分秒星期
10、继续优化内存占用，程序大小
11、要用release版本，用户可以点击即用
12、整理并规范项目文件夹
13、指导我上传github
